/* === OVERALL Structure === */
.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  opacity: 0;
  pointer-events: none;
}


.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog>.dialogue-window {
  position: relative;
  width: 800px;
  margin: 10% auto;
}


.modalDialog>.dialogue-window>div {
  padding: 0px 20px 13px 20px;
}


.close {
  text-decoration: none;
  padding: 10px;
  font-size: 1.5em;
  line-height: 1.1;

  float: right;
  width: 44px;
  text-align: center;
}

.modalDialog form {
  margin: 0;
}

.modalDialog h2 {
  text-align: center;
}


/* === Colors and Style=== */
.modalDialog {
  font-family: Arial, Helvetica, sans-serif;

  background: rgba(0, 0, 0, 0.7);
  color: #000000;

  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
}

.modalDialog>div {
  background: #fff;
  box-shadow: 0px 0px 10px #000;
}
