/* === CLEAR Browser Defaults === */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;

  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

a {
  text-decoration: none;
}

/* === OVERALL Style === */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.game-window {
  width: 1300px;
  height: 800px;
  margin: 0px auto;
  padding: 0px 100px;


  background: url(../images/bg.jpg) center repeat-y;
  background-size: 100%;

  border: 1px solid #222;
}

main {
  height: calc(100% - 40px);
  margin: 0px auto;
  padding-bottom: 15px;
}

/* === HEADER === */
header {
  width: 100%;
  height: 40px;
}

header form input,
header form .button {
  display: inline-block;
  margin: 0 10px;
}


/* === NAVIGATION === */
nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  float: left;
}

nav ul li a {
  display: block;
  padding: 5px 15px;
}



/* === MAIN CONTENT === */
.game-title {
  height: 60px;
}

.screen {
  display: none;
  height: calc(100% - 60px);
}

.screen.show {
  display: block;
}


.progress-bar {
  display: flex;
  justify-content: center;
  position: relative;

  background-color: grey;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .5) inset;

  width: 100%;
  height: 24px;
  margin: 2px 0;
}

.progress-bar > span {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  background-color: black;
  border-radius: 3px;
  color: black;
  text-align: center;
}

.progress-bar > span.bar-text {
  display: flex;
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
}

.progress-bar > span.bar-change {
  background-color: transparent;
  position: absolute;
  display: flex;
  justify-content: right;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 4px;
  /* animation: changeAnimation 4s; */
}

.progress-bar span.green {
  background-color: green;
}

.progress-bar span.red {
  background-color: red;
}

.progress-bar span.blue {
  background-color: darkcyan;
}

.progress-bar span.yellow {
  background-color: darkorange;
}

.progress-bar > span.bar-change.text-green {
  color: green;
  background-color: whitesmoke;
}

.progress-bar > span.bar-change.text-red {
  color: darkred;
  background-color: whitesmoke;
}

@keyframes changeAnimation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


.battle-wrap {
  display: flex;
  flex-direction: row;
  padding: 20px 30px;
}

.battle-character {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.battle-action {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
}

.action-bar {
  display: flex;
  flex-direction: row;
  margin: auto;
  background: rgba(0, 0, 0, .5);
  padding: 10px;
}



/* === GENERIC === */
input,
button,
.button {
  display: block;
  padding: 5px;
  margin: 5px;
}

.button {
  cursor: pointer;
}

.vSpace-sm {
  height: 25px;
}

.vSpace-lg {
  height: 50px;
}

.text-bold {
  font-weight: bold;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-center {
  float: center;
}

.float-right {
  float: right;
}

.margin-center {
  margin: auto;
}

.full-width {
  width: 100%;
}

.hide {
  display: none;
}
