/* === OVERALL Style === */
html,
body {
  background: black;
  color: #ddd;
}

a {
  color: DarkRed;
}

a:hover {
  color: Red;
}


/* === HEADER === */
header {
  background: #111;
}

/* === NAVIGATION === */
nav ul li a {
  font-weight: bold;
  font-size: 13px;
}

nav ul li a:hover {
  background: #222;
}

/* === GENERIC === */
.button {
  border: 2px solid DarkRed;
  color: DarkRed;
  background: transparent;
  font-weight: bold;
}

.button:hover {
  border-color: Red;
  color: Red;
}




/* === MAIN CONTENT === */
.game-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 3px;
  color: OrangeRed;
  font-size: 50px;
}


.character-screen {
  width: 25%;
  height: 100%;
  background: #333;
  float: right;
  padding: 10px 20px;
  font-size: 1.1rem;
}

.character-sheet {
  display: flex;
  flex-direction: column;
  height: 600px;
  max-height: 100%;
  background: rgba(50, 50, 50, .5);
  padding: 10px 20px;
  font-size: 1.1rem;
}

.map-bg {
  background: url(../images/world-map.jpg) no-repeat;
  background-size: 100%;
  width: 75%;
  height: 100%;
  float: left;
  position: relative;
}

.map-bg > .button-enemy {
  position: absolute;
}
.map-bg > .enemy-lvl1 {
  bottom: 8%;
  right: 4%;
}
.map-bg > .enemy-lvl2 {
  bottom: 45%;
  right: 20%;
}
.map-bg > .enemy-lvl3 {
  top: 30%;
  left: 45%;
}
.map-bg > .enemy-lvl4 {
  top: 8%;
  left: 24%;
}
.map-bg > .enemy-dragon {
  top: 37%;
  left: 10%;
}




/* === COMPONENT Themes === */


/* === Modal Colors and Style=== */
.modalDialog>.dialogue-window {
  background: rgba(50, 50, 50, .8);
  color: #ccc;
}

.modalDialog>.dialogue-window p {
  color: DarkOrange;
}
